<!DOCTYPE html>
<html>
  <title>Team</title>
  <link
    href="{{url_for('static',filename='TeamStyleSheet.css')}}"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="{{url_for('static',filename='stylesheet.css')}}"
    rel="stylesheet"
    type="text/css"
  />
  <br />
  <body>
    <section class="title-section">
      <div class="team-title">
        <h1>Meet the team</h1>
      </div>
      <br />
      <br />
      <div class="team-cards">
        <div class="team-card">
          <div class="team-image">
            <img src="" />
          </div>
          <div class="team-detail">
            <h3>Kawthar Ali</h3>
            <p>Communications and Networks engineer student</p>
            <br />
            <div class="contact-button">
              <a
                href="https://www.linkedin.com/in/kawthar-a-1434a2300?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B6WQS0mBwS8qZGiNSl2pSFg%3D%3D"
                >Contact</a
              >
            </div>
          </div>
        </div>
        <br />
        <div class="team-card">
          <div class="team-image">
            <img src="" />
          </div>
          <div class="team-detail">
            <h3>Norain Almajed</h3>
            <p>Programming student</p>
            <br />
            <div class="contact-button">
              <a
                href="https://www.linkedin.com/in/noorain-almajed?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B7VnJpf2wSburcawvnvW78w%3D%3D"
                >Contact</a
              >
            </div>
          </div>
        </div>
        <br />
        <div class="team-card">
          <div class="team-image">
            <img src="" />
          </div>
          <div class="team-detail">
            <h3>Fatima Ebrahim</h3>
            <p>Programming student</p>
            <br />
            <div class="contact-button">
              <a
                href="https://www.linkedin.com/in/fatema-ebrahim-4a4245294?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BVFboe3OMQtC69MbFdLlNgw%3D%3D"
                >Contact</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
